h3 {
    color: #5690cf;
    font-family: pt-serif-pro,serif;
}

hr {
    border-top: 2px solid #81a6ce !important;
}

.row {
    padding: 7px;
}

label, li, .pt-serif-pro {
    font-family: pt-serif-pro, serif;
    color: rgb(77 80 85);
    font-weight: 700;
}

.p-10 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.py-20{
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.pb-15{
    padding-bottom: 15px;;
}

.pt-0 {
    padding-top: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 2px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pb-0 {
    padding-bottom: 0;
}

.pr-20 {
    padding-right: 20px;
}

.text-red {
    color: #0055af;
}

.justify-self-center {
    justify-self: center;
}

.align-self-center {
    align-self: center;
}

.justify-self-end {
    justify-self: end;
}

.grid-2.gap-0 {
    grid-gap: 0px !important;
}

@media screen and (max-width:768px) {
    .main-container {
        min-height: 0 !important;
    }
}

.bold {
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .grid-2 {
        grid-template-columns: 1fr 1fr !important;
    }

    .main-container {
        min-height: 0 !important;
        padding-top: 20px !important;
        padding-top: 20px !important;
    }
}

.top-bar {
    background: none;
    padding-bottom: 5px;
}

#header {
    padding-top: 20px;
}

.main-container {
    padding-bottom: 0;
}

li {
    padding: 1px;
}

.gap-10 {
    grid-gap: 10px;
}

.footer-container {
    overflow: hidden;
}
